.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.header {
  background-color: #7a7a7a;
  color: #ffffff;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  width: 140px;
  height: 140px;
}

.logo_place_header {
  position: absolute;
  top: 32px;
  left: 32px;
}

.header__title {
  font-size: 120px;
  margin-left: 32px;
  width: 600px;
}

.header__subtitle {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.header__main-illustration {
  background-image: url("./../images/kaufman-triangle.svg");
  width: 700px;
  height: 700px;
  background-size: cover;
  position: absolute;
  right: 0;
  bottom: 0;
}

.description {
  margin: 100px 0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 300px;
  margin-bottom: 32px;
  border: 1px solid black;
  box-sizing: border-box;
}

.card__description{
  padding: 0 16px;
}

.card__image {
  width: 100%;
}

.footer {
  background-color: rgb(121, 121, 121);
  padding: 16px;
}

.logo_place_footer {
  width: 140px;
  height: 140px;
}